#hBox {
    -fx-background-color: #FFFFFF; 
    -fx-border-color: #000000; /* Cor da borda */
    -fx-border-width: 2px; /* Largura da borda */
    -fx-border-radius: 5px; /* Raio da borda (bordas arredondadas) */
}

